---
layout: default
---
{% assign pid = page.slug | split:'-' | last %}
{% if pid == page.slug %}
  {% assign pid = page.slug | split:'_' | last %}
{% endif %}

<article class="post" data-pid="{{ pid }}" data-pagefind-body>
  <h1>{{ page.title }}</h1>
  <p class="date">{{ page.date | date: '%d %b %Y' }}</p>

  <!-- Метаданные для Pagefind -->
  <span hidden data-pagefind-meta="date:{{ page.date | date: '%d %b %Y' }}"></span>
  <span hidden data-pagefind-sort="date:{{ page.date | date: '%Y-%m-%d' }}"></span>

  {%- comment -%} >>> ДОБАВЛЕНО: превью для поиска {%- endcomment -%}
  {%- capture _thumb -%}{% include find-thumb.html post=page %}{%- endcapture -%}
  {%- assign _thumb = _thumb | strip -%}
  {%- if _thumb != "" -%}
    <img src="{{ _thumb }}"
         alt="{{ page.title | escape }}"
         hidden
         data-pagefind-meta="image[src], image_alt[alt]">
  {%- endif -%}




  {{ content }}
  <div class="hidden-comments" style="display:none"></div>
</article>
